            <div class="row end_footer">
              <div class="col-md-1"></div>
              <div class="col-md-8">
                  <p>Falkon is a
                     <a href="https://kde.org">
                         <img style="height:1.5em;" src="{{ "/images/kde.svg" | prepend: site.baseurl }}">
                         KDE
                     </a> project.
                     <span style="padding-left:20px">
                       Copyright &copy; 2010-2020 Falkon Team | Design based on <a href="https://github.com/pranavrajs/swift">Swift</a> theme.
                     </span>
              </div>
              <div class="col-md-1"></div>
            </div>
