    <div class="col-md-12 navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img style="height:150%;margin-top:-20%;" src="{{ "/images/falkon.svg" | prepend: site.baseurl }}">
        </a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
           <li><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
           <li><a href="{{ "/download" | prepend: site.baseurl }}">Download</a></li>
           <li><a href="{{ "/development" | prepend: site.baseurl }}">Development</a></li>
           <li><a href="https://store.falkon.org/">Extensions</a></li>

{% comment %}
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<b class="caret"></b></a>
            <ul class="dropdown-menu">
            {% for page in site.pages %}
              {% if page.title %}
                <li><a href="{{ page.url | prepend: site.baseurl }}" style="text-transform : uppercase;">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </li>
{% endcomment %}
        </ul>

        <ul class="nav navbar-nav navbar-right left-syms">
          <li><a href="{{ "/atom.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank"><i class="fa fa-rss"></i> <span>RSS Feed</span></a></li>
          <li><a href="https://www.kde.org" target="_blank" style="padding-top: 10px; padding-bottom: 10px"><img src="/images/madeByKDE.svg" style="height: 1em"></a></li>
        </ul>
      </div>
    </div>
